<div class="dropup">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <div class="glyphicon glyphicon-th"></div>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'Pet Profile', pet_path(pet) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Edit', edit_pet_path(pet) %></li>
    <li><%= link_to ' Delete', pet_path(pet), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</div>