<div class="row">
  <div class="col-md-12">
    <section id="home">
      <br>
      <div class="main jumbotron text-center main-jumbotron-bg ">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          <strong><h1 class="uppercase font-french-fell">Pet Oasis</h1></strong>
          <hr>
          <h3><em>Our friendly veterinarians are dedicated towards the well-being of your pet. Contact us today!</em></h3>
          <br>
          <div class="btn btn-primary"><%= link_to "Make an Appointment!", new_customer_path, class: 'plain-links' %></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>