<section id="home">
  <br>
  <div class="main jumbotron text-center main-jumbotron-bg ">
    <strong><h1 class="uppercase font-french-fell"><em>Pet Oasis</em></h1></strong>
    <h3>Our friendly veterinarians are dedicated towards the well-being of your pet. Contact us today!</h3>
    <br>
    <button class="btn btn-success">Make an Appointment!</button>
  </div>
</section>