<h1 class="text-center">Customer Information</h1>

<div class="row">
  <div class="panel panel-default">
    <div class="col-md-5">
      <%= form_for @customer, class: 'form-horizontal' do |f| %>
          <%= render partial: 'form', locals: { f: f, customer: @customer } %>
      <% end %>
    </div>
  </div>

</div>

<br><%= link_to 'Go Back', customers_path %>