<% if @doctor.errors.any? %>
    <div class="alert alert-danger">
    <h2><%= pluralize(@doctor.errors.count, 'error') %> prohibited this doctor from being saved:</h2>
          <ul>
            <% @doctor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
     </div>
<% end %>