body {
  font-size: 22px;
  line-height: 150%;
}

.uppercase {
  text-transform: uppercase;
}

.font-french-fell
{
  font-family: 'IM Fell French Canon', serif;
}

// NAVBAR ////////////////
.navbar {

  margin-bottom: 0;
  background: rgba(0, 0, 0, .9);

}

// MAIN PAGE ////////////
html, body {
  height: 100%;
}

.jumbotron {
  padding-top: 1%;
  background-color: rgba(0, 0, 20, .8);
  color: white;
  margin: auto;
  width: 55%;
  border-radius: 17px;
  line-height: 150%;
}

.jumbotron h1 {
  margin-bottom: 1%;
  padding: 0;
  color: white
}

.jumbotron h3 {
  color: lightblue;
}


#home {
  height: 100vh;
  background: gray image-url('dogbg.jpg') no-repeat bottom center;
  background-size: cover;
}

.plain-links {
  text-decoration: none;
  color: white;
}

