.uppercase {
  text-transform: uppercase;
}

.font-french-fell
{
  font-family: 'IM Fell French Canon', serif;
}

// NAVBAR ////////////////
.navbar {

  margin-bottom: 0;
  background: rgba(0, 0, 0, .9);

}

// MAIN PAGE ////////////
html, body {
  height: 100%;
}

.jumbotron {
  padding-top: 2%;
  background-color: rgba(0, 0, 20, .8);
  color: white;
  margin: auto;
  width: 70%;
  border-radius: 17px;

}

#home {
  height: 100vh;
  background: gray image-url('dogbg.jpg') no-repeat bottom center;
  background-size: cover;
}

.plain-links {
  text-decoration: none;
  color: white;
}

