<div class="dropup">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <div class="glyphicon glyphicon-th"></div>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'View Apt', appointment_path(apt) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to 'Edit', edit_appointment_path(apt) %></li>
    <li><%= link_to ' Delete', appointment_path(apt), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>

</div>